body {
    background: rgb(253, 176, 249);
    color: rgb(248, 146, 248);
    padding: 10px;
    font-family: Arial, sans-serif;
}
#portfolio-body{
    background-color: rgb(255, 134, 255);
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgba(250, 149, 245, 0);
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #f951ff;
}

/* main container area beneath menu */
main {
    background: rgb(241, 132, 236);
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
    background-color: rgb(240, 128, 250);
}

/* interests section styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
} 


nav {
  background: hsla(300, 68%, 50%, 0.171);
}
#portfolio-body{
     background-image: url(https://images2.alphacoders.com/121/1212645.jpg);
background-repeat: no-repeat; 
  background-position: center center; 
  background-size: cover; 
  background-attachment: fixed;
}
#MyColorfulBox {
    background-color: rgb(255, 143, 218);
}